//= require vendor/casper
//= require _syntax

// Overwrite some styles from casper.css

@font-face {
	font-family: "Merriweather";
	src: url('/fonts/Merriweather-Light.ttf');
}
@font-face {
	font-family: "Merriweather";
	src: url('/fonts/Merriweather-LightItalic.ttf');
	font-style: italic;
}
@font-face {
	font-family: "Merriweather";
	src: url('/fonts/Merriweather-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: "Merriweather";
	src: url('/fonts/Merriweather-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url('/fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: "Open Sans";
	src: url('/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
}

body {
  font-family: "Minion Pro", Palatino, "Hoefler Text", "Times New Roman", serif;
  line-height: 1.5em;
  letter-spacing: 0;
  font-size: 2rem;
}

.page-description {
  font-family: "Minion Pro", Palatino, "Hoefler Text", "Times New Roman", serif;
}

.author-profile .author-meta {
  font-family: "Minion Pro", Palatino, "Hoefler Text", "Times New Roman", serif;
}

pre.highlight {
  padding: 10px;
  margin: 0;
  line-height: 23px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  margin: 2em 0 2.8em;
  word-wrap: normal;
  code {
    white-space: pre;
    font-family: Consolas, "Liberation Mono", "Lucida Console", "Lucida Sans Typewriter", Menlo, Monaco, "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.8em;
  }
}
p code, li code, td code {
  font-family: Consolas, "Liberation Mono", "Lucida Console", "Lucida Sans Typewriter", Menlo, Monaco, "Andale Mono", "Courier New", Courier, monospace;
  font-size: 0.75em;
}
