.extra-pagination.inner
  = partial('shared/pagination') if paginate

- page_articles.each do |article|
  %article.post
    %header.post-header
      %h2.post-title= link_to article.title, article
    %section.post-excerpt
      %p
        = article.summary
        = link_to '&raquo; Lire la suite…', article, class: 'read-more'
    %footer.post-meta
      %img.author-thumb{src: gravatar(24), alt: blog_author.name, nopin: 'nopin'}
      %a{href: author_path}= blog_author.name
      - if tags?(article)
        — #{tags(article)}
      %time.post-date{datetime: article.date.strftime('%Y-%m-%d')}
        = I18n.l article.date, locale: blog_settings.date_locale, format: blog_settings.date_format

= partial('shared/pagination') if paginate
