---
layout: page
title: Actuellement
cover: road.jpg
---

p
  ' Bonjour, je m'appelle Bob, j'ai dans la quarantaine bien tassée et j'habite
  ' dans le nord de la France près de Valenciennes.
p
  ' Ceci est une page
  em
    a href="https://nownownow.com/about"
      | Now
  | .
p
  ' Plutôt que de proposer la classique page « À propos » associée à un blog,
  ' rapidement obsolète et rarement mis à jour au profit de tweets, toots, status,
  ' ou autres messages sur les réseaux sociaux, vous trouverez ici en quelques
  ' points les choses sur lesquelles je porte mon intérêt.

p
  ' Dernière mise à jour le
  ruby:
    source_obj = `git rev-list -n 1 HEAD now.html.slim`.chomp
    last_update = DateTime.parse(`git show --pretty=format:%ai --abbrev-commit #{source_obj} | head -n 1`.chomp)
  = I18n.l last_update, locale: blog_settings.date_locale, format: blog_settings.date_format


h2 Travail
p
  ' Voici bientôt quatre ans que j'ai mis de coté ma carrière dans la fonction
  ' publique pour expérimenter l'aventure du travail dans le domaine privé.
p
  ' Je suis toujours chez
  a href="http://levups.com"
    | Level&nbsp;UP&nbsp;Solutions
  ' , je travaille la plupart du temps sur la maintenance et l'évolution d'une
  ' solution adhoc de gestion de site e-commerce pour un client dans le domaine
  ' de la HiFi/HomeCinema.
  br
  ' C'est une application de type monolithe Ruby on Rails qui évolue depuis plus
  ' de 10 ans au gré des nouvelles versions de Ruby/Rails et de notre approche
  ' de la conception logicielle.

h2 Loisirs
p
  ' Je me suis décidé à apprendre à jouer d'un instrument en début d'année et
  ' c'est la basse électrique qui a retenu mon attention. Ça c'est joué de peu
  ' avec la batterie (électronique aussi), mais le gain de place et de bruit
  ' m'a décidé.
p
  ' Je suis une méthode pour apprendre les bases, et j'entrecoupe mes sessions
  ' avec des covers que j'enregistre pour suivre mes progrès.
  br
  ' Ils sont dispo sur
  a href="https://bobmaerten.info/bass_covers/" une page dédiée
  | .
