---
pageable: true
per_page: 6
---

%header.main-header.tag-head{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= tagname
      %h2.page-description #{page_articles.count} billet#{'s' if page_articles.count > 1}
      %p
      %p
        Autres catégories
        %br
        - blog.tags.each do |tag, _articles|
          = link_to tag, tag_path(tag)
 

%main#content.content{role: :main}
  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })
